<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>665373166098-6t0addo94b6e674leh2kraa0rgalcs1m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665373166098-6t0addo94b6e674leh2kraa0rgalcs1m</string>
	<key>API_KEY</key>
	<string>AIzaSyCMGKtyhFK0B-A8RArbi0UGPoPCjy_3GGg</string>
	<key>GCM_SENDER_ID</key>
	<string>665373166098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lykov.weatherApp</string>
	<key>PROJECT_ID</key>
	<string>weatherapp-59e95</string>
	<key>STORAGE_BUCKET</key>
	<string>weatherapp-59e95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:665373166098:ios:f4510f7728e5a416</string>
	<key>DATABASE_URL</key>
	<string>https://weatherapp-59e95.firebaseio.com</string>
</dict>
</plist>